// primary color
$black : #272829;
$gray : #61677A;
$white : #D8D9DA;
$milk : #FFF6E0;

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #272829;
}

ion-header {
    box-shadow: none;
}

ion-title {
    font-weight: bold;
    color: #272829;
}

ion-card {
    background: #f8f8f8;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    // border-radius: 10px;
}

.card-title {
    margin-top: -40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 8px 0px #D8D9DA;
    position: relative;
}

.card-title h2 {
    font-size: 24px;
    font-weight: 620;
}

.card-title h3 {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 620;
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%); 
}

b {
    color: #FFFFFF;
}

.booking .card-date-order ion-icon {
    color: #FFFFFF;
}

.container {
  position: relative;
  display: inline-block;
}

.container-room {
    display: flex;
    justify-content: space-between;
  }
  
.price-container {
    text-align: right;
    margin-right: 20px;
}

span {
    color: royalblue;
}
  

.room-image {
  display: block;
  width: 100%;
  height: auto;
}

.corner-button {
    color: #FFFFFF;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1; /* Pastikan tombol ada di atas gambar */
}

.details {
    margin-left: 20px;
    // padding-right: 20px;
}

.details h2 {
    margin-top: 10%;
}

.details p {
    margin-right: 20px;
}

.booking {
    margin-top: 10%;
    margin-left: 20px;
    padding-right: 20px;
}

.note {
    color: red;
    margin-bottom: 10%;
}

ion-col {
    // margin-left: 20px;
    text-align: center;
}

ion-datetime {
    color: #272829;
}

.card-date-order {
    border-radius: 20px;
    margin-left: 0px;
    width: 101.5%;
    box-shadow: 0px 1px 2px 0px #D8D9DA;
    background-color: #272829;
    text-align: center;
}

.custom-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} 

.star {
    color: #FFC94A;
    font-size: 20px;
}

ion-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; 
  }
  
h6 {
    margin: 0;
    margin-left: 10px;
    font-size: 13.3px;
}
  
