<!-- ordermodal.component.html -->
<!-- <ion-header class="top-header">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container">
    <ion-button (click)="dismissModal()" color="dark" class="corner-button">
      <ion-icon name="arrow-back-outline" color="light"></ion-icon>
    </ion-button>
  </div>


  <br><br><br><br><br>
</ion-content>
