<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label color="success">Check In</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Private Room

        <p>
          <ion-text>
            Date : Friday, 18 January 2024
          </ion-text>
          <br>
          <ion-text>
            Time : 08.15
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear">Details</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        Private Room

        <p>
          <ion-text>
            Date : Friday, 20 January 2024
          </ion-text>
          <br>
          <ion-text>
            Time : 08.15
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear">Details</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label color="danger">Check Out</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Date Room

        <p>
          <ion-text>
            Date : Friday, 16 January 2024
          </ion-text>
          <br>
          <ion-text>
            Time : 21.15
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear">Details</ion-button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
      <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
