<ion-content [fullscreen]="true">
  <!-- Booking List -->
  <ion-list *ngIf="bookings.length > 0">
    <ion-list-header>
      <ion-chip color="warning">Booking</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of bookings">
      <ion-label>
        {{ order.room }}
        <p>
          <ion-text>
            Date : {{ order.date }}
          </ion-text>
          <br>
          <ion-text>
            Time : {{ order.time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal()">Details</ion-button>
    </ion-item>
  </ion-list>

  <!-- Check-in List -->
  <ion-list *ngIf="checkIns.length > 0">
    <ion-list-header>
      <ion-chip color="success">Check-in</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of checkIns">
      <ion-label>
        {{ order.room }}
        <p>
          <ion-text>
            Date : {{ order.date }}
          </ion-text>
          <br>
          <ion-text>
            Time : {{ order.time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal()">Details</ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="checkOuts.length > 0">
    <ion-list-header>
      <ion-chip color="danger">Check-out</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of checkOuts">
      <ion-label>
        {{ order.room }}
        <p>
          <ion-text>
            Date : {{ order.date }}
          </ion-text>
          <br>
          <ion-text>
            Time : {{ order.time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal()">Details</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
