<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Booking List -->
  <ion-list *ngIf="bookings.length > 0">
    <ion-list-header>
      <ion-chip color="warning">Booking</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of bookings">
      <ion-label>
        {{ getRoomName(order.id_room) }}
        <p>
          <ion-text>
            Date : {{ order.check_in }}
          </ion-text>
          <br>
          <ion-text>
            Check in : {{ order.order_time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal(order)">Details</ion-button>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="bookings.length === 0">
    <ion-list-header>
      <ion-chip color="warning">Booking</ion-chip>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>
          <ion-text>
            Tidak ada kamar yang di booking
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ng-container>

  <!-- Check-in List -->
  <ion-list *ngIf="live.length > 0">
    <ion-list-header>
      <ion-chip color="success">Live</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of live">
      <ion-label>
        {{ getRoomName(order.id_room) }}
        <p>
          <ion-text>
            Date : {{ order.check_out }}
          </ion-text>
          <br>
          <ion-text>
            Check out : {{ order.order_time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal(order)">Details</ion-button>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="live.length === 0">
    <ion-list-header>
      <ion-chip color="success">Live</ion-chip>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>
          <ion-text>
            Tidak ada kamar yang sedang live
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ng-container>

  <!-- Check-out List -->
  <ion-list *ngIf="expired.length > 0">
    <ion-list-header>
      <ion-chip color="danger">Expired</ion-chip>
    </ion-list-header>
    <ion-item *ngFor="let order of expired">
      <ion-label>
        {{ getRoomName(order.id_room) }}
        <p>
          <ion-text>
            Date : {{ order.check_out }}
          </ion-text>
          <br>
          <ion-text>
            Last check : {{ order.order_time }}
          </ion-text>
        </p>
      </ion-label>
      <ion-button color="primary" fill="clear" (click)="openModal(order)">Details</ion-button>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="expired.length === 0">
    <ion-list-header>
      <ion-chip color="danger">Expired</ion-chip>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <p>
          <ion-text>
            Tidak ada kamar yang expired
          </ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
<!-- 
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer> -->
